button {
    height: 50px;
    width: 100px;
    background-color: mediumslateblue;
    border-radius: 10px;
    color: #222;
    font-size: 2em;
    font-weight: bold;
}

.App {
    height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    height: 330px;
    width: 360px;
    border: 2px solid mediumslateblue;
    border-radius: 15px;
    margin-right: 50px;
    color: mediumslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter:last-child {
    margin-right: 0;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
    color: #222;
    font-size: 4em;
    font-weight: bold;
    background-color: mediumslateblue;
    border-radius: 15px;
}

.settingsUpdatingMessage {
    font-size: 27px;
    text-align: center;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35%;
    margin-top: 15px;
    border: 2px solid mediumslateblue;
    border-radius: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
}

.disabled {
    opacity: 0.6;
}

.maxWarning {
    color: darkred;
}

.joke {
    font-size: 2em;
    color: mediumslateblue;
}

.settingsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50%;
    color: #222;
    font-size: 4em;
    font-weight: bold;
    background-color: mediumslateblue;
    border-radius: 15px;
}

.inputItem {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.inputItem span {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
}

.inputItem input {
    display: inline-block;
    height: 30px;
    width: 33%;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    margin-right: 20px;
}

@media (max-width: 1023px) {
    .App {
        flex-direction: column;
    }
    .counter {
        margin: 40px 0 10px 0 ;
    }
}